<!DOCTYPE html>
<!-- CenHud Outage Trends (chtrends) Version 3.1.1
  Copyright (C) 2021  Owen (owenthe.dev)

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
 
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.
 
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet"> 
<script type="text/javascript" src="/static/js/GraphEngine.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<head>
    <title>CenHud Outage Trends</title>
</head>
<style>
    /* Strange bug with BS5 and gutters. */
    .row {
        --bs-gutter-y: 0.5rem;
        margin-top: calc(var(--bs-gutter-y) * 1);
    }
</style>
<script>
    function getParameterByName(name, url = window.location.href) {
        if (!url) url = window.location.href;
        name = name.replace(/[[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    var ge;
    var rawdata = {{ alldata|tojson }}
    var lastupdate_ts = {{ lastupdate_ts }}
    var nextupdate;
    var custrecord_ts = {{ custrecord_ts }}
    var outagerecord_ts = {{ outagerecord_ts }}
    var delaytime = {{ delaytime }}
    var collectiontime = {{ collectiontime }}
    google.charts.load('current', {packages: ['corechart', 'line']})
    google.charts.setOnLoadCallback(initGraphDraw)

    function initGraphDraw() {
        var newgraphstate = "normal"
        var usingparams = false;
        if (getParameterByName("graphstate") != null) {
            newgraphstate = getParameterByName("graphstate")
            usingparams = true;
        }
        document.querySelector('input[name="chart"][value="' + newgraphstate + '"]').checked = true

        ge = new GraphEngine("chart_div", rawdata, newgraphstate)
        ge.rendergraph()
        if (usingparams) {
            history.pushState(null, document.title, '/')
        }
    }

    function resizeHandle() {
        ge.rendergraph()
    }

    function formattedTime(timestamp) {
        var dateobj = new Date(timestamp * 1000)
        var datestring = dateobj.toLocaleString(navigator.language, {year: 'numeric', month: 'long', day: 'numeric'})
        var timestring = dateobj.toLocaleString(navigator.language, {hour: 'numeric', minute: 'numeric'})
        return datestring + " at " + timestring
    }

    function calcNextUpdate() {
        var currenttime = new Date().getTime() / 1000
        if (currenttime < lastupdate_ts + collectiontime + (delaytime * 2)) {
            nextupdate = lastupdate_ts + collectiontime + (delaytime * 2)
            setTimeout(reloadPage, (nextupdate - currenttime) * 1000)
            setInterval(updateNextUpdate, 1000)
            updateNextUpdate()
        } else {
            nextupdate = -1
            document.getElementById("autoupdatespan").innerHTML = "Automatic update disabled due to late status report"
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        calcNextUpdate()
        document.getElementById("lastupdated").innerHTML = formattedTime(lastupdate_ts)
        document.getElementById("cust-recordtime").innerHTML = formattedTime(custrecord_ts)
        document.getElementById("outage-recordtime").innerHTML = formattedTime(outagerecord_ts)
    })

    function reloadPage() {
        var graphsel = ge.graphstate
        window.location.replace(window.location.href + "?graphstate=" + graphsel)
    }

    function updateNextUpdate() {
        var currenttime = new Date().getTime() / 1000
        var updateseconds = Math.round(nextupdate - currenttime)
        var updateminutes = Math.round(updateseconds / 60)
        if (updateminutes == 1 && updateseconds > 60) {
            document.getElementById("autoupdatespan").innerHTML = "Updating in about " + updateminutes + " minute"
        } else if (updateseconds <= 60) {
            if (updateseconds <= 0) {
                document.getElementById("autoupdatespan").innerHTML = "Updating..."
            } else if (updateseconds == 1) {
                document.getElementById("autoupdatespan").innerHTML = "Updating in " + updateseconds + " second"
            } else {
                document.getElementById("autoupdatespan").innerHTML = "Updating in " + updateseconds + " seconds"
            }
        } else {
            document.getElementById("autoupdatespan").innerHTML = "Updating in about " + updateminutes + " minutes"
        }
    }

    window.onresize = resizeHandle;
</script>
<body>
    <div class="container">
    <div class="row gy-2" style="margin-top: 30px">
        <div class="col s12">
            <div class="card">
                <div class="card-body" style="text-align: center">
                    <h4>Right now, there are</h4>
                    <h2>{{ currentdata['customers_formatted'] }}</h2>
                    <h4>customers out, and</h4>
                    <h2>{{ currentdata['outages_formatted'] }}</h2>
                    <h4>power outages.</h4>
                    <br>
                    Last updated: <span id="lastupdated">{{ currentdata['formattedtime'] }} ET</span><br>
                    <small>(<span id="autoupdatespan">Calculating update time...</span>)</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-2">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body" style="text-align: center">
                    <h5 class="card-title">Customers</h5>
                    <h3>{{ t1customers[0]['change_direction'] }}</h3> {{ t1customers[0]['change_english'] }}
                    <hr>
                    {% for item in t2customers %}
                        <b style="font-weight: 700">{{ item.change_direction }}</b> {{ item.change_english }} <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body" style="text-align: center">
                    <h5 class="card-title">Outages</h5>
                    <h3>{{ t1outages[0]['change_direction']}}</h3> {{ t1outages[0]['change_english'] }}
                    <hr>
                    {% for item in t2outages %}
                        <b style="font-weight: 700">{{ item.change_direction }}</b> {{ item.change_english }} <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body" style="text-align: center">
                    <h5 class="card-title">72-hour records</h5>
                    <h3>{{ recorddata['customers']['number_formatted'] }} customers out</h3> 
                    {% if recorddata['customers']['newrecord'] %}
                        <b>(This is a new record in the last 72 hours)</b>
                    {% else %}
                        (recorded on <span id="cust-recordtime">{{ recorddata['customers']['formatted_time'] }} ET</span>)
                    {% endif %}
                    <hr>
                    <h3>{{ recorddata['outages']['number_formatted'] }} outages</h3> 
                    {% if recorddata['outages']['newrecord'] %}
                        <b>(This is a new record in the last 72 hours)</b>
                    {% else %}
                        (recorded on <span id="outage-recordtime">{{ recorddata['outages']['formatted_time'] }} ET</span>)
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-2">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body" style="text-align: center">
                    <b style="font-weight: 700">Chart type:</b>
                    <label>
                        <input class="with-gap" onclick="ge.graphtypechange('normal')" name="chart" value="normal" type="radio" id="defaultsetting" checked />
                        <span>Customers Out & Outages</span>
                    </label>
                    <label style="margin-left: 10px">
                        <input class="with-gap" onclick="ge.graphtypechange('co')" name="chart" value="co" type="radio" />
                        <span>Customers Out</span>
                    </label>
                    <label style="margin-left: 10px">
                        <input class="with-gap" onclick="ge.graphtypechange('o')" name="chart" value="o" type="radio" />
                        <span>Outages</span>
                    </label>
                    <br>
                    <br>
                    <div id="chart_div" style="min-height: 400px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-2" style="margin-bottom: 30px">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">About CenHud Outage Trends</h5>
                        CenHud Outage Trends collects historical data on Central Hudson's outage statistics. Included are graphs, and trend data for the last 1, 3, 6, and 12 hours. <br><br>
                        Data is updated every 10 minutes (with a delay of up to 30 seconds), and your browser will automatically refresh the site. 
                        <br><br>
                        v3.1.1 - &copy; 2021 owenthe.dev<br>
                        Source code: <a href="https://gitlab.com/o355/chtrends">https://gitlab.com/o355/chtrends</a> (under AGPL v3 license)
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">CenHud Outage Trends API</h5>
                        Interested in interfacing directly with Central Hudson data & trend data? Check out the CenHud Outage Trends API, which is new for v3.1. <br><br>
                        Docs are available here: <a href="https://chtrends.owenthe.dev/api/" target="_blank">https://chtrends.owenthe.dev/api/</a> <br><br>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>